{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
</head>
<body>
    <a href="{% url 'My_index' %}">Home Page</a>
    <a href="{% url "My_contact" %}">Contact Us</a>
    <a href="{% url 'blog' %}">Blog Posts</a>
    <a href="{% url 'My_about' %}">About Us</a>
    <a href="{% url 'My_jobs' %}">Jobs Page</a>
    <a href="{% url 'My_news' %}">News Page</a>
<h2>News</h2>
<p2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At exercitationem incidunt ipsam quis ut? Animi aperiam assumenda atque, distinctio molestiae nam natus neque,
    numquam possimus quidem reiciendis saepe tempore voluptate?</p2>
    <img src="{% static 'images/about-2.jpg' %}" alt="" width="200" height="auto">
</body>
</html>