{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
</head>
<body>

 <a href="{% url 'My_index' %}">Home Page</a>
    <a href="{% url "My_contact" %}">Contact Us</a>
    <a href="{% url 'blog' %}">Blog Posts</a>
    <a href="{% url 'My_about' %}">About Us</a>
    <a href="{% url 'My_jobs' %}">Jobs Page</a>
    <a href="{% url 'My_news' %}">News Page</a>
<h2>Contact Us</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis eligendi esse et explicabo facere iste labore laboriosam maxime nihil nobis quis 
    reiciendis rem saepe, temporibus unde ut vel. Eaque?</p>
 <img src="{% static 'images/testimonial-1.jpeg' %}" alt="" width="200" height="auto">
</body>
</html>