{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <a href="{% url 'My_index' %}">Home Page</a>
    <a href="{% url "My_contact" %}">Contact Us</a>
    <a href="{% url 'blog' %}">Blog Posts</a>
    <a href="{% url 'My_about' %}">About Us</a>
    <a href="{% url 'My_jobs' %}">Jobs Page</a>
    <a href="{% url 'My_news' %}">News Page</a>

<h2>Welcome to Django. This is our landing page</h2>
    <img src="{% static 'images/DALL·E 2024-10-24 23.12.42 - A collection of futuristic technology devices including a sleek tablet, a holographic display, advanced smart glasses, and a robotic assistant. The sc.webp' %}" width="200"  height="auto">
    <img src="{% static 'images/aboit-3.jpg' %}" alt="" width="200"  height="200">

    
    <a href="https://learn.emobilis-lms.org/my/" target="_blank"> Visit EMobilis</a>
</body>
</html>