{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jobs</title>
    
</head>
<body>
    <a href="{% url 'My_index' %}">Home Page</a>
    <a href="{% url "My_contact" %}">Contact Us</a>
    <a href="{% url 'blog' %}">Blog Posts</a>
    <a href="{% url 'My_about' %}">About Us</a>
    <a href="{% url 'My_jobs' %}">Jobs Page</a>
    <a href="{% url 'My_news' %}">News Page</a>
<h2>This is the Jobs Page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolores eaque eligendi explicabo facere facilis harum itaque laudantium maiores nam, necessitatibus obcaecati omnis perspiciatis quaerat recusandae 
    suscipit, veritatis, voluptate voluptates.</p>
    <img src="{% static 'images/maria-zardoya-f8Vkuc6fXQA-unsplash(1).jpg' %}" alt="" width="200" height="200">
</body>
</html>